@import "tailwindcss";

@theme {
  --color-primary: #06b6d4;
  /* Neon Cyan */
  --color-primary-dark: #0891b2;

  --color-risk-low: #10b981;
  /* Emerald */
  --color-risk-medium: #f59e0b;
  /* Amber */
  --color-risk-high: #ef4444;
  /* Red */

  --color-background: #020617;
  /* very dark slate/blue */
  --color-surface: #0f172a;
  /* Slate 900 */
}

body {
  background-color: var(--color-background);
  color: #f8fafc;
  /* Slate 50 */
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}

.animate-fade-in {
  animation: fadeInUp 0.3s ease-out forwards;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}